* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

/*
0-600px        phone
600-740px      phone-land
600-900px      table portrait
900-1200px     table landscape
{1200-1800px}  is where normal styles apply
1800px +       big screen

$breakpoint argument choices:
phone
tab-port
tab-land
big-desktop

1em = 16px
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  padding: 9rem; }
  @media only screen and (max-width: 75em) {
    .container {
      padding: 9rem 3.5rem; } }
  @media only screen and (max-width: 46.25em) {
    .container {
      padding: 9rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      padding: 4rem 2rem; } }
  @media only screen and (min-width: 112.5em) {
    .container {
      max-width: 150rem;
      margin: 0 auto; } }

.container-big {
  padding: 10rem 13rem; }
  @media only screen and (max-width: 75em) {
    .container-big {
      padding: 8rem 3.5rem; } }
  @media only screen and (min-width: 112.5em) {
    .container-big {
      max-width: 150rem;
      margin: 0 auto; } }

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: #222e2e; }
  .header__title {
    font-family: 'Playfair Display';
    margin-right: auto;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }

.nav {
  display: flex;
  align-items: center;
  font-family: 'calluna'; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      display: none; } }
  .nav__link {
    font-size: 1.3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 1rem 2rem; }
    .nav__link--contact {
      letter-spacing: 1px;
      background-color: rgba(163, 163, 163, 0.2);
      padding: 1rem 2rem;
      transition: all ease-out 250ms; }
      .nav__link--contact:hover {
        background-color: rgba(163, 163, 163, 0.7); }

.nav-dropdown {
  position: relative;
  display: inline-block; }
  .nav-dropdown__content {
    position: absolute;
    width: 20rem;
    height: 0;
    padding-top: 3rem;
    z-index: 1;
    background-color: #222e2e;
    opacity: 0;
    visibility: hidden;
    transition: all ease-out 250ms; }
  .nav-dropdown__link {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 1rem 1.5rem; }

.nav-dropdown:hover .nav-dropdown__content {
  height: 22rem;
  opacity: 1;
  visibility: visible; }

.phone-nav {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .phone-nav {
      display: block; } }
  .phone-nav__dropdown {
    display: none; }
  .phone-nav__checkbox {
    display: none; }
  .phone-nav__button {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: .2rem;
    right: .5rem;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center; }
  .phone-nav__navigation {
    width: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    padding: 2rem;
    top: 4rem;
    right: 0;
    background-color: #222e2e;
    opacity: 0;
    z-index: 10;
    transition: all 200ms ease-out; }
  .phone-nav__link {
    display: inline-block;
    font-family: 'calluna';
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .phone-nav__checkbox:checked ~ .phone-nav__navigation {
    width: 60%;
    opacity: 1; }
  .phone-nav__icon {
    position: relative;
    display: flex; }
    .phone-nav__icon, .phone-nav__icon::before, .phone-nav__icon::after {
      width: 2rem;
      height: 2px;
      background: #fff;
      display: inline-block; }
    .phone-nav__icon::before, .phone-nav__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 300ms; }
    .phone-nav__icon::before {
      top: -.8rem; }
    .phone-nav__icon::after {
      top: .8rem; }
  .phone-nav__checkbox:checked + .phone-nav__button .phone-nav__icon {
    background: transparent; }
  .phone-nav__checkbox:checked + .phone-nav__button .phone-nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .phone-nav__checkbox:checked + .phone-nav__button .phone-nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.footer {
  color: #fff; }
  .footer__upper {
    display: flex;
    justify-content: space-between;
    background-color: #324544;
    padding: 4.5rem 20rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__upper {
        padding: 4.5rem 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__upper {
        flex-direction: column; }
        .footer__upper h2 {
          margin-bottom: 2rem; } }
  .footer__lower {
    background-color: #222e2e;
    padding: 8rem 0; }
    @media only screen and (max-width: 37.5em) {
      .footer__lower {
        padding: 8rem 2rem; } }
  .footer__adress {
    font-size: 1.3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    text-align: center; }

.hide-body {
  overflow: hidden; }

.phone-dropdown {
  display: block; }

.heading-primary {
  font-size: 6.6rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 4rem; } }

.heading-secondary {
  font-size: 3.3rem;
  font-weight: 300; }

.paragraph {
  font-size: 1.6rem;
  color: rgba(31, 37, 38, 0.75); }
  .paragraph__uppercase {
    text-transform: uppercase;
    color: #222; }

.text-wrapper {
  padding: 4rem 7rem; }
  @media only screen and (max-width: 37.5em) {
    .text-wrapper {
      padding: 4rem 2rem; } }

.content-wrapper {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  color: #222; }
  @media only screen and (max-width: 46.25em) {
    .content-wrapper {
      width: 100%; } }

.architect {
  margin-top: 8rem;
  text-align: center; }

.heading-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43.7rem;
  background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/amenities.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff; }
  .heading-section--neighborhood {
    background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/neighborhood.jpg);
    background-position: bottom; }
  @media only screen and (max-width: 37.5em) {
    .heading-section {
      height: 15rem; } }

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.service-group {
  width: calc(100% / 2 - 2rem); }
  @media only screen and (max-width: 37.5em) {
    .service-group {
      width: 100%; } }
  .service-group__img {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .service-group__sub-heading {
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 2rem 0;
    color: #222; }

.map {
  width: 100%;
  height: 41rem;
  margin: 0 auto; }

.section-flex {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; }

.section-nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: auto; }
  @media only screen and (max-width: 37.5em) {
    .section-nav {
      display: none; } }
  .section-nav--contact {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .section-nav--contact {
        width: 100%; } }
  .section-nav__heading {
    font-size: 2.6rem;
    font-weight: 300;
    margin-bottom: .5rem;
    color: #222; }
  .section-nav__link {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: rgba(31, 37, 38, 0.4);
    padding: .4rem 0; }
    .section-nav__link:hover {
      color: #222;
      transition: all ease-out 250ms; }
  .section-nav__text {
    font-size: 1.6rem;
    letter-spacing: .4px;
    color: rgba(31, 37, 38, 0.75); }

.section-group {
  width: 75%; }
  @media only screen and (max-width: 75em) {
    .section-group {
      width: 65%; } }
  @media only screen and (max-width: 37.5em) {
    .section-group {
      width: 100%; } }
  .section-group__img {
    width: 100%;
    margin-bottom: 3rem; }
  .section-group__sub-heading {
    font-size: 1.6rem;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 1rem 0; }
  .section-group__text {
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: .4px;
    color: rgba(31, 37, 38, 0.75);
    margin: 3rem 0; }

.social {
  margin-top: 3.5rem;
  margin-right: auto;
  display: flex;
  justify-content: center; }
  .social__item {
    display: inline-block;
    width: 3rem;
    height: 3rem; }
    .social__item:not(:last-child) {
      margin-right: 1rem; }
  .social__img {
    width: 100%;
    transition: all ease-out 250ms; }
    .social__img:hover {
      -webkit-filter: invert(91%) sepia(4%) saturate(30%) hue-rotate(16deg) brightness(86%) contrast(83%);
      filter: invert(91%) sepia(4%) saturate(30%) hue-rotate(16deg) brightness(86%) contrast(83%); }

.cta {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  background-color: #222e2e;
  padding: 1.3rem 2.8rem; }
  .cta:hover {
    background-color: rgba(34, 46, 46, 0.8); }
  .cta--footer {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 1.3rem 2.8rem;
    background-color: #1f2526;
    transition: all ease-out 250ms; }
    .cta--footer:hover {
      background-color: #222e2e; }
  .cta--section {
    font-size: 1.2rem;
    letter-spacing: 3px;
    transition: all ease-out 250ms; }

.btn-submit {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1.2rem 3rem;
  color: #fff;
  background-color: #1f2526;
  outline: none;
  cursor: pointer; }
  .btn-submit:hover {
    opacity: .8;
    transition: all ease-out 250ms; }

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .gallery__img {
    width: calc(100% / 4 - 1rem);
    height: 25rem;
    object-fit: cover;
    margin: .5rem;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .gallery__img {
        height: 20rem; } }
    @media only screen and (max-width: 46.25em) {
      .gallery__img {
        height: 18rem; } }
    @media only screen and (max-width: 37.5em) {
      .gallery__img {
        width: calc(100% / 2 - 1rem); } }

.section-gallery {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem; }
  @media only screen and (max-width: 75em) {
    .section-gallery {
      width: 65%; } }
  @media only screen and (max-width: 37.5em) {
    .section-gallery {
      width: 100%; } }
  .section-gallery__img {
    width: calc(100% / 3 - 1rem);
    height: 22.5rem;
    object-fit: cover;
    margin: .5rem;
    cursor: pointer; }
    @media only screen and (max-width: 75em) {
      .section-gallery__img {
        height: 16rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-gallery__img {
        width: calc(100% / 2 - 1rem); } }

.hero {
  height: 90vh;
  background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/home-hero.jpg);
  background-size: cover;
  background-position: bottom;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .hero {
      height: 60vh; } }
  .hero--5-east {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/5-east.jpg);
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .hero--5-east {
        height: 50vh; } }
  .hero--18-sacket {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/hg-9.jpg);
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .hero--18-sacket {
        height: 50vh; } }
  .hero--23-sacket {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/23sacket-hero.jpg);
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .hero--23-sacket {
        height: 50vh; } }
  .hero--6-cliffside {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/6cliffside-hero.jpg);
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .hero--6-cliffside {
        height: 50vh; } }
  .hero--2-cliffside {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/2cliffside-hero.jpeg);
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .hero--2-cliffside {
        height: 50vh; } }
  .hero--7-cliffside {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/7cliffside-hero.jpg);
    background-position: 0 70%; }
    @media only screen and (max-width: 75em) {
      .hero--7-cliffside {
        height: 50vh; } }
  .hero--contact {
    height: 65vh;
    background-image: linear-gradient(to bottom, rgba(50, 69, 68, 0.8), rgba(50, 69, 68, 0.8)), url(../img/contact.jpg);
    background-position: center; }
    @media only screen and (max-width: 75em) {
      .hero--contact {
        height: 40vh; } }
  .hero__wrapper {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    animation: moveUp 350ms ease-out; }
    @media only screen and (max-width: 75em) {
      .hero__wrapper {
        width: 90%; } }
  .hero__text {
    font-size: 2.6rem;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 1px; }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    opacity: 0.5;
    transform: translateY(1.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.overlay {
  height: 100vh;
  width: 100%;
  padding: 2rem 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 250ms; }
  @media only screen and (max-width: 37.5em) {
    .overlay {
      flex-direction: column;
      padding: 2rem 0; } }
  .overlay__img {
    height: 100%;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .overlay__img {
        height: 80%;
        width: 100%;
        object-fit: contain; } }
  .overlay__btn {
    height: 2.5rem;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .overlay__btn {
        display: none; } }
  .overlay__close-icon {
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    font-size: 3.5rem;
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none; }

.showOverlay {
  opacity: 1;
  visibility: visible; }

.btns-phone {
  display: none;
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem; }
  @media only screen and (max-width: 37.5em) {
    .btns-phone {
      display: flex;
      justify-content: space-between; } }
  .btns-phone__btn {
    height: 2.5rem;
    cursor: pointer; }

.form {
  width: 100%;
  margin: 0 auto;
  padding-left: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .form {
      padding-left: 0;
      margin-top: 4rem; } }
  .form__group {
    width: 100%;
    color: rgba(61, 61, 61, 0.6);
    padding: 1rem; }
  .form__heading {
    display: block;
    font-size: 1.8rem;
    margin-bottom: .5rem; }
  .form__input {
    width: 100%;
    padding: 1.2rem;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fafafa; }
    .form__input:focus {
      background-color: #fff; }
  .form__flex {
    display: flex;
    justify-content: space-between; }
    .form__flex--names {
      width: 49%; }
  .form__caption {
    display: block;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    margin-top: .8rem; }
  .form__select {
    font-size: 1.6rem;
    background-color: #fafafa;
    outline: none;
    height: 3rem; }
