* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// VARIABLES
$color-white: #fff;
$color-dark-green: #222e2e;
$color-light-green: #324544;


// MIXINS
@mixin transition { transition: all ease-out 250ms; }

// MEDIA QUERY MANAGER
/*
0-600px        phone
600-740px      phone-land
600-900px      table portrait
900-1200px     table landscape
{1200-1800px}  is where normal styles apply
1800px +       big screen

$breakpoint argument choices:
phone
tab-port
tab-land
big-desktop

1em = 16px
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {@content};  // 600px (600/16 = 37.5)
  }

  @if $breakpoint == phone-land {
    @media only screen and (max-width: 46.25em) {@content};  // 740px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {@content};  // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {@content};  // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {@content}; //1800px
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5% (16px is the default font size)
  -webkit-font-smoothing: antialiased;

  @include responsive(tab-land) { //widh < 1200px?
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25
  }

  @include responsive(tab-port) { //widh < 900px?
    font-size: 50%; //1rem = 8px, 8/16= 50
  }

  @include responsive(phone) { //widh < 600px?
    font-size: 50%; //1rem = 6px, 6/16= 38
  }

  @include responsive(big-desktop) { //widh => 1800px?
    font-size: 75%; //1rem = 12px, 75
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
