.content-wrapper {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  color: #222;

  @include responsive(phone-land) {
    //widh < 740px?
    width: 100%;
  }
}

.architect {
  margin-top: 8rem;
  text-align: center;
}

.heading-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43.7rem;
  background-image: linear-gradient(
      to bottom,
      rgba(50, 69, 68, 0.8),
      rgba(50, 69, 68, 0.8)
    ),
    url(../img/amenities.jpeg);
  background-size: cover;
  background-position: center;
  color: $color-white;

  &--neighborhood {
    background-image: linear-gradient(
        to bottom,
        rgba(50, 69, 68, 0.8),
        rgba(50, 69, 68, 0.8)
      ),
      url(../img/neighborhood.jpg);
    background-position: bottom;
  }

  @include responsive(phone) {
    height: 15rem;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-group {
  width: calc(100% / 2 - 2rem);

  @include responsive(phone) {
    width: 100%;
  }

  &__img {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__sub-heading {
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 2rem 0;
    color: #222;
  }
}

.map {
  width: 100%;
  height: 41rem;
  margin: 0 auto;
}
